@inherits LayoutComponentBase

<div>

    <div>
        <div class="ui secondary pointing blue inverted menu">
            <span class="item large header">StampImages</span>
            <div class="right menu">
                <a class="ui item" href="https://github.com/try0/StampImages"><i class="github large icon"></i></a>
            </div>
        </div>

        <div class="ui container">
            @Body
        </div>
    </div>

</div>